$bg-color-1: #ffff;
$gray: #dadada;
$gray-2: #b9b9b9;
$gray-3: #b5b5b5;
$gray-4: #6b6b6b;
$gray-opacity: #b9b9b92b;
$purple-1: #7c74ee;
$black: #121212;

$gradient-primary: linear-gradient(90deg, #39cabd 0%, #4ab5ca 66.77%);
$gradient-secondary: linear-gradient(
  90deg,
  #46bbc7 3.26%,
  #4488d8 56.45%,
  #8768f2 97.83%
);
$gradient-secondary-opacity: linear-gradient(
  90deg,
  #46bac72e 3.26%,
  #4489d81e 56.45%,
  #8668f220 97.83%
);
$gradient-secondary-2: linear-gradient(90deg, #3dc3c0 -15.19%, #8568f5 111.92%);
$gradient-secondary-3: linear-gradient(
  180deg,
  #3dc3c0 -15.19%,
  #8568f5 111.92%
);

$gradient-tertiary: linear-gradient(
  180deg,
  rgba(0, 0, 0, 0) 16.25%,
  rgba(0, 0, 0, 0.31) 43.48%,
  rgba(0, 0, 0, 0.61) 60.81%,
  rgba(0, 0, 0, 0.88) 77.05%,
  #000 90.75%
);

$font-primary: "Montserrat", sans-serif;
$font-secondary: "Work Sans", sans-serif;
