.logo__text {
  display: inline-block;
  background: $gradient-secondary;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 1.92px;
}

.font-primary {
  font-size: 2.4rem;
}

.font-secondary {
  font-size: 1.45rem;
}

.font-tertiary {
  font-size: 1.2rem;
}

.f-grey {
  color: #6b6b6b;
}

.f-weight-500 {
  font-weight: 500;
}
