.logo__text {
  display: inline-block;
  background: $gradient-secondary;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 1.92px;
}

.font-primary {
  font-size: 2.4rem;
}

.font-secondary {
  font-size: 1.45rem;
  &:hover {
    filter: brightness(127%) !important;
  }
}

.font-tertiary {
  font-size: 1.2rem;
  &:hover {
    filter: brightness(127%) !important;
  }
}

.f-small {
  font-size: 1.25em;
}

.f-grey {
  color: #6b6b6b;
}

.f-grey-2 {
  color: #999;
}

.f-grey-3 {
  color: #8e8e8e;
}

.f-weight-500 {
  font-weight: 500;
}
