@import "abstracts/utils";
@import "abstracts/variables";

@import "components/btns";
@import "components/search";

@import "layouts/sidebar";
@import "layouts/header";


@import "base/typography";

@import "pages/home";

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media screen and (width> 137.75em) {
    font-size: 90%;
  }

  @media screen and (width> 118.75em) {
    font-size: 68%;
  }

  @media screen and (width< 79em) {
    font-size: 55%;
  }

  @media screen and (width< 61.125em) {
    font-size: 40%;
  }

  @media screen and (width< 25em) {
    font-size: 35%;
  }

  @media screen and (width< 20em) {
    font-size: 30%;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: $font-primary;
  display: grid;
  grid-template-columns: max-content 1fr;
  background-color: $bg-color-1;
}

main {
  width: 93.5%;
  margin: 0 auto;

  @media screen and (width< 50em) {
    width: 100%;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img,
video,
canvas {
  max-width: 100%;
}

svg {
  width: 2rem;
}

ul {
  list-style: none;
}

button {
  border: none;
  outline: none;
  background-color: inherit;
}

a {
  cursor: pointer;
}
